@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
}

 header{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(79, 207, 216, 0.932);
  padding: 6px;
  color: rgba(8, 7, 7, 0.911);
  font-size: 1.2em;
  min-width: 360px;
}

.logo {
  height: 30px;
  width: 30px;
  margin-left: 4px;
}

strong {
  color: rgba(255, 255, 255, 0.945);
}

/* form and search bar styles*/

.content-wrap {
  display: flex;
  justify-content: center;
}

form {
  width: 0;
  margin: auto;
}

/* controls searchbar styles */

.search-box {
  display: flex;
  padding: 3em;
  justify-content: center;
}

input {
  width: 310px;
  height: 40px;
  font-size: 1.3em;
  border-radius: .8em;
  text-align: center;
  box-shadow: 5px 6px 6px 0 rgba(27, 22, 27, 0.774);
  background-color: rgba(95, 49, 81, 0.829);
}

input:hover {
  background-color: rgba(107, 54, 91, 0.788);
}

.anime-card {
  padding: 4px;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: -2rem;
  border-radius: 1.6em;
  font-size: 18px;
  background-color: rgba(95, 49, 81, 0.829);
  color: rgba(0, 0, 0, 0.575);
  box-shadow: 0 6px 6px 0 rgba(95, 94, 141, 0.774);
  cursor: pointer;
  transition: background .1s ease;
}

.search-button:hover {
  transform: translateY(.1em);
  border-bottom-width: .2em;
  background-color: rgba(107, 54, 91, 0.788);
  color: rgba(31, 25, 25, 0.897);
}

/* Container for all anime/img displayed*/
.anime-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: rgba(10, 15, 15, 0.918);
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
}

img {
  width: 220px;
  height: 300px;
}

figure > img {
  border-radius: .8em;
  padding: 4px;
}


a {
  text-decoration: none;
  color: rgba(80, 137, 190, 0.925);
}

a:visited {
  color: rgba(81, 211, 161, 0.877);
}

a:hover {
  color: rgba(130, 193, 214, 0.938);
}

/* Controls line widht */
a > h3 {
  text-align: center;
  width: 20ch;
  border-bottom: ridge 2px rgba(212, 24, 128, 0.897);
  box-shadow: black 0 0 10px;
  padding: .2em;
  background-color: rgba(8, 6, 6, 0.918);
  border-radius: .8em .2em .8em .2em;
}