@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
}

 header{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(79, 207, 216, 0.932);
  padding: 6px;
  color: rgba(8, 7, 7, 0.911);
  font-size: 1.2em;
}

.logo {
  height: 30px;
  width: 30px;
  margin-left: 4px;
}

strong {
  color: rgba(255, 255, 255, 0.945);
}

/* form and search bar styles*/

.content-wrap {
  padding: 5.5em;
  display: flex;
  justify-content: center;
}

input {
  width: 310px;
  height: 40px;
  font-size: 1.3em;
  border-radius: .8em;
  text-align: center;
  box-shadow: 5px 6px 6px 0 rgba(27, 22, 27, 0.774);
  background-color: rgba(95, 49, 81, 0.829);
}

input:hover {
  background-color: rgba(107, 54, 91, 0.788);
}

.anime-card {
  margin-top: 2em;
}